*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

header{
    display: flex;
    width: 100%;
    height: max-content;
    background-color: rgb(197, 197, 211);
}

nav{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    padding: 1em 30em;
    background-color: rgba(244, 244, 244, 0.372);
    justify-content: space-between;
    position: static;
}

.logo{
    display: flex;
    background-color: black;
    color: aliceblue;
    font-size: 1.3em;
    padding: 0.4em;
}

.btnh{
    width: 6em;
    height: 6em;
    display: flex;
    background-color: rgba(230, 221, 234, 0.555);
    border-color:transparent ;
    color: #151111;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    z-index: 60;
}

.btnh:hover{
    background-image: linear-gradient(44deg, rgba(193, 42, 207, 0.315),rgba(179, 39, 197, 0.37), rgba(110, 13, 123, 0.43)) ;
    border: 3px solid cornflowerblue;
}
.btnh:active{
    background-image: linear-gradient(44deg, rgba(148, 12, 161, 0.483),rgba(67, 8, 127, 0.514), rgba(27, 9, 185, 0.514)) ;
    border: 3px solid cornflowerblue;
}


.close{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
}

.modal{
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    z-index: 110;
}

.hidden{
    display: none;
}
.overlay{
    position: absolute;
    top: 0;
    width: 99.9%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 109;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    background-color: rgb(197, 197, 211);
}

.bacground{
    position: absolute;
    font-size: 12em;
    color: rgba(240, 255, 255, 0.441);
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: 50;
    overflow-y: hidden;
}
.about{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    padding:3em 13em; 
}
.about_img{
    display: flex;
    width: 100%;
    height: 1000px;
    background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex:0.5;
    z-index: 100;
}
.about_cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
    padding: 1em 0em 1em 6em;
    font-size: 1.6em;
    gap: 3em;
    flex: 0.5;
}
.name{
    font-size: 2.4em;
}
.about_title{
    display: flex;
    flex-direction: row;
    gap: 4em;
}
.about_title p{
    font-size: 1.6em;
}
.file{
    display: flex;
    flex-direction: column;
}
.file h2{
    transform: rotate(90deg);
}

.bacground_Services{
    position: absolute;
    font-size: 10em;
    color: rgba(240, 255, 255, 0.441);
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: 50;
}
.Services{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    padding:3em 13em;
    margin-top: 15em;
}
.Services_cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1600px;
    font-size: 1.6em;
    gap: 3em;
    flex: 0.5;
    padding:3em 8em 3em 0em;
}
.upper_cont{
    font-size: 1.5em;
}
.Services_title{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.GRAPHIc{
    display: flex;
    flex-direction: column;
    gap: 12em;
}
.GRAPHIc_cont{
    display: flex;
    flex-direction: row;
    gap: 2em;
    font-size: 1.8em;
}
.list ul{
    margin-left: 1em;
    margin-top: 1em;
    font-size: 0.9em;
}
.service_img{
    display: flex;
    width: 100%;
    height: 1600px;
    background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex:0.6;
    z-index: 100;
}

.bacground_works{
    position: absolute;
    font-size: 15em;
    color: rgba(240, 255, 255, 0.441);
    top: 230%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: 50;
}
.works{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding:3em 13em;
    margin-top: 15em;
    text-align: center;
}
.works_table_of_cont{
    font-size: 2em;
}
.works_cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    font-size: 1.6em;
    margin-top: 10em;
}
.works_title{
    padding: 0em 8em;
}
.works_img{
    display: flex;
    width: 100%;
    height: 1300px;
    background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.works_text{
    display: flex;
    flex-direction: column;
    padding: 3em 13em;
    font-size: 1.4em;
    text-align: start;
    gap: 1em;
}
.works_text a{
    text-align: end;
}
.works_btn{
    width: 10em;
    height: 6em;
    display: flex;
    background-color: rgba(230, 221, 234, 0.555);
    border-color:transparent ;
    color: #151111;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    border-radius: 10px;
}


footer{
    width: 100%;
    height: max-content;
    background-color: rgb(197, 197, 211);
    margin: 0 auto;
}
.footer_content{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: max-content;
    padding: 10rem 9rem;
    gap: 1rem;
    margin: 0 auto;
}
.footer_tytle >p{
    margin-top: 0.5rem;
}
.footer_tytle >a{
    margin-top: 0.5rem;
}
.footer_tytle{
    display: flex;
    flex-direction: column;
    font-style: oblique;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 20rem ;
}
.input{
    margin-top: 1rem;
    height: 2rem;
}

@media screen and (max-width: 2300px){
    nav{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        padding: 1em 20em;
        background-color: rgba(244, 244, 244, 0.372);
        justify-content: space-between;
    }
    .bacground{
        position: absolute;
        font-size: 10em;
        color: rgba(240, 255, 255, 0.441);
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 50;
        overflow-y: hidden;
    }
    .about{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: max-content;
        padding:3em 15em; 
    }
    .about_img{
        display: flex;
        width: 100%;
        height: 1000px;
        background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex:0.5;
        z-index: 100;
    }
    .about_cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1000px;
        padding: 1em 0em 1em 6em;
        font-size: 1.4em;
        gap: 3em;
        flex: 0.5;
    }
    .name{
        font-size: 2.2em;
    }
    .about_title p{
        font-size: 1.6em;
    }

    .bacground_Services{
        position: absolute;
        font-size: 8em;
        color: rgba(240, 255, 255, 0.441);
        top: 98%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 50;
    }
    .Services{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: max-content;
        padding:3em 15em;
        margin-top: 15em;
    }
    .Services_cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1300px;
        font-size: 1.4em;
        gap: 3em;
        flex: 0.5;
        padding:3em 6em 3em 0em;
    }
    .upper_cont{
        font-size: 1.3em;
    }
    .GRAPHIc{
        display: flex;
        flex-direction: column;
        gap: 14em;
    }
    .GRAPHIc_cont{
        display: flex;
        flex-direction: row;
        gap: 2em;
        font-size: 1.6em;
    }
    .list ul{
        margin-left: 1em;
        margin-top: 1em;
        font-size: 0.9em;
    }
    .service_img{
        display: flex;
        width: 100%;
        height: 1300px;
        background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex:0.6;
        z-index: 100;
    }

    .bacground_works{
        position: absolute;
        font-size: 11em;
        color: rgba(240, 255, 255, 0.441);
        top: 212%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 50;
    }
    .works{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
        padding:3em 15em;
        margin-top: 15em;
        text-align: center;
    }
    .works_text{
        display: flex;
        flex-direction: column;
        padding: 3em 10em;
        font-size: 1.4em;
        text-align: start;
        gap: 1em;
    }
    .works_title{
        padding: 0em 3em;
    }
}

@media screen and (max-width: 1820px){
    nav{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        padding: 1em 10em;
        background-color: rgba(244, 244, 244, 0.372);
        justify-content: space-between;
    }
    .about{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: max-content;
        padding:3em 11em; 
    }
    .about_img{
        display: flex;
        width: 100%;
        height: 900px;
        background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex:0.7;
        z-index: 100;
    }
    .about_cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 900px;
        padding: 1em 0em 1em 6em;
        font-size: 1.2em;
        gap: 3em;
        flex: 0.5;
    }
    .name{
        font-size: 2em;
    }
    .about_title p{
        font-size: 1.4em;
    }

    .Services{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: max-content;
        padding:3em 11em;
        margin-top: 15em;
    }
    .bacground_Services{
        position: absolute;
        font-size: 8em;
        color: rgba(240, 255, 255, 0.441);
        top: 99%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 50;
    }
    .Services_cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1000px;
        font-size: 1.2em;
        gap: 3em;
        flex: 0.5;
        padding:3em 4em 3em 0em;
    }
    .GRAPHIc{
        display: flex;
        flex-direction: column;
        gap: 10em;
    }
    .GRAPHIc_cont{
        display: flex;
        flex-direction: row;
        gap: 2em;
        font-size: 1.2em;
    }
    .service_img{
        display: flex;
        width: 100%;
        height: 1000px;
        background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex:0.7;
        z-index: 100;
    }

    .bacground_works{
        position: absolute;
        font-size: 11em;
        color: rgba(240, 255, 255, 0.441);
        top: 190%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 50;
    }
    .works{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
        padding:3em 10em;
        margin-top: 15em;
        text-align: center;
    }
    .works_img{
        display: flex;
        width: 100%;
        height: 900px;
        background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }
    .works_text{
        display: flex;
        flex-direction: column;
        padding: 3em 8em;
        font-size: 1.4em;
        text-align: start;
        gap: 1em;
    }
    .works_title{
        padding: 0em 1em;
    }
}
@media screen and (max-width: 1530px){
    nav{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        padding: 1em 10em;
        background-color: rgba(244, 244, 244, 0.372);
        justify-content: space-between;
    }
    .bacground{
        position: absolute;
        font-size: 6em;
        color: rgba(240, 255, 255, 0.441);
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 50;
        overflow-y: hidden;
    }
    .about{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: max-content;
        padding:3em 7em; 
    }
    .about_img{
        display: flex;
        width: 100%;
        height: 900px;
        background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex:0.7;
        z-index: 100;
    }
    .about_cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 900px;
        padding: 1em 0em 1em 6em;
        font-size: 1.1em;
        gap: 3em;
        flex: 0.5;
    }
    .name{
        font-size: 1.7em;
    }
    .about_title p{
        font-size: 1.6em;
    }

    .bacground_Services{
        position: absolute;
        font-size: 6em;
        color: rgba(240, 255, 255, 0.441);
        top: 99%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 50;
    }
    .Services{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: max-content;
        padding:3em 7em;
        margin-top: 15em;
    }
    .Services_cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 900px;
        font-size: 1.1em;
        gap: 3em;
        flex: 0.5;
        padding:3em 6em 3em 0em;
    }
    .upper_cont{
        font-size: 1.3em;
    }
    .GRAPHIc{
        display: flex;
        flex-direction: column;
        gap: 12em;
    }
    .GRAPHIc_cont{
        display: flex;
        flex-direction: row;
        gap: 2em;
        font-size: 1.6em;
    }
    .list ul{
        margin-left: 1em;
        margin-top: 1em;
        font-size: 0.9em;
    }
    .service_img{
        display: flex;
        width: 100%;
        height: 900px;
        background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex:0.6;
        z-index: 100;
    }

    .bacground_works{
        position: absolute;
        font-size:8em;
        color: rgba(240, 255, 255, 0.441);
        top: 185%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 50;
    }
    .works{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
        padding:3em 7em;
        margin-top: 15em;
        text-align: center;
    }
    .works_img{
        display: flex;
        width: 100%;
        height: 1000px;
        background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }
    .works_text{
        display: flex;
        flex-direction: column;
        padding: 3em 6em;
        font-size: 1.4em;
        text-align: start;
        gap: 1em;
    }
    .works_title{
        padding: 0em 3em;
    }
}

@media screen and (max-width: 1290px){
    .about{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: max-content;
        padding:3em 4em; 
    }
    .about_img{
        display: flex;
        width: 100%;
        height: 600px;
        background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        flex:0.5;
        z-index: 100;
    }
    .about_cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 600px;
        padding: 1em 0em 1em 5em;
        font-size: 1em;
        gap: 4em;
        flex: 0.5;
    }
    .name{
        font-size: 1.2em;
    }
    .about_title p{
        font-size: 1.2em;
    }

    .bacground_Services{
        position: absolute;
        font-size: 5em;
        color: rgba(240, 255, 255, 0.441);
        top: 67%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 50;
    }
    .Services{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: max-content;
        padding:3em 4em;
        margin-top: 10em;
    }
    .Services_cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 700px;
        font-size: 0.8em;
        gap: 3em;
        flex: 0.5;
        padding:3em 5em 3em 0em;
    }
    .upper_cont{
        font-size: 1em;
    }
    .GRAPHIc{
        display: flex;
        flex-direction: column;
        gap: 13em;
    }
    .service_img{
        display: flex;
        width: 100%;
        height: 700px;
        background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        flex:0.6;
        z-index: 100;
    }

    .bacground_works{
        position: absolute;
        font-size:6em;
        color: rgba(240, 255, 255, 0.441);
        top: 141%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 50;
    }
    .works{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
        padding:3em 3em;
        margin-top: 15em;
        text-align: center;
    }
    .works_img{
        display: flex;
        width: 100%;
        height: 800px;
        background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }
    .works_text{
        display: flex;
        flex-direction: column;
        padding: 3em 1em;
        font-size: 1.2em;
        text-align: start;
        gap: 1em;
    }
    .footer_content{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: max-content;
        padding: 5rem 5rem;
        gap: 1rem;
        margin: 0 auto;
    }
}

@media screen and (max-width: 900px){
    nav{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        padding: 1em 2em;
        background-color: rgba(244, 244, 244, 0.372);
        justify-content: space-between;
    }
    .bacground{
        position: absolute;
        font-size: 5em;
        color: rgba(240, 255, 255, 0.441);
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 50;
        overflow-y: hidden;
    }
    .about{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1300px;
        padding:3em 3em; 
    }
    .about_img{
        width: 100%;
        height: 100%;
        background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 100;
    }
    .about_cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 400px;
        padding: 1em 5em 1em 5em;
        gap: 4em;
        flex: 0.5;
    }
    
    .name{
        font-size: 1.5em;
    }
    .about_title p{
        font-size: 1em;
    }

    .bacground_Services{
        position: absolute;
        font-size: 3em;
        color: rgba(240, 255, 255, 0.441);
        top: 114%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 50;
    }
    .Services{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: max-content;
        padding:3em 4em;
        margin-top: 15em;
    }
    .Services_cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: max-content;
        font-size: 1.2em;
        gap: 3em;
        flex: 1;
        padding:3em 3em 3em 3em;
    }
    .upper_cont{
        font-size: 1em;
    }
    .GRAPHIc{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .GRAPHIc_cont{
        display: flex;
        flex-direction: column;
        gap: 2em;
        font-size: 1.6em;
    }
    .service_img{
        display: none;
    }

    .bacground_works{
        position: absolute;
        font-size:4em;
        color: rgba(240, 255, 255, 0.441);
        top: 206%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 50;
    }
    .works{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: max-content;
        padding:3em 1em;
        margin-top: 10em;
        text-align: center;
    }
    .works_img{
        display: flex;
        width: 100%;
        height: 500px;
        background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }
    .works_cont{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: max-content;
        font-size: 1.6em;
        margin-top: 5em;
    }
    .works_text{
        display: flex;
        flex-direction: column;
        padding: 3em 1em;
        font-size: 1em;
        text-align: start;
        gap: 1em;
    }

    .footer_content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: max-content;
        padding: 5rem 5rem;
        gap: 1rem;
        margin: 0 auto;
        font-size: 1.2em;
    }
}
@media screen and (max-width: 600px){
    nav{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        padding: 1em 1em;
        background-color: rgba(244, 244, 244, 0.372);
        justify-content: space-between;
        position: static;
    }
    
    .logo{
        display: flex;
        background-color: black;
        color: aliceblue;
        font-size: 1em;
        padding: 0.4em;
    }
    
    .btnh{
        width: 3em;
        height: 3em;
        display: flex;
        background-color: rgba(230, 221, 234, 0.555);
        border-color:transparent ;
        color: #151111;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        z-index: 60;
    }
    
    .bacground{
        position: absolute;
        font-size: 3em;
        color: rgba(240, 255, 255, 0.441);
        top: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 50;
        overflow-y: hidden;
    }
    .about{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1300px;
        padding:3em 3em; 
    }
    .about_img{
        width: 100%;
        height: 500px;
        background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 100;
    }
    .about_cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1200px;
        padding: 1em 3em 1em 3em;
        gap: 4em;
        flex: 0.5;
    }
    .about_title{
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
    .name{
        font-size: 1em;
    }
    .about_title p{
        font-size: 1em;
    }

    .bacground_Services{
        position: absolute;
        font-size: 2em;
        color: rgba(240, 255, 255, 0.441);
        top: 103%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 50;
    }
    .Services{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: max-content;
        padding:3em 2em;
        margin-top: 3em;
    }
    .Services_cont{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        height: max-content;
        font-size: 1em;
        gap: 3em;
        flex: 1;
        padding:3em 1em 3em 1em;
    }
    .upper_cont{
        font-size: 1em;
    }
    .GRAPHIc{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .GRAPHIc_cont{
        display: flex;
        flex-direction: column;
        gap: 2em;
        font-size: 1em;
    }
    .service_img{
        display: none;
    }

    .bacground_works{
        position: absolute;
        font-size:3em;
        color: rgba(240, 255, 255, 0.441);
        top: 160%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        z-index: 50;
    }
    .works_img{
        display: flex;
        width: 100%;
        height: 300px;
        background: url(https://preview.colorlib.com/theme/noah/images/about-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }
    .works_table_of_cont{
        font-size: 1.5em;
    }
    .works_title{
        padding: 0em 2em;
    }
    .works_text{
        display: flex;
        flex-direction: column;
        padding: 3em 1em;
        font-size: 0.3em;
        text-align: start;
        gap: 1em;
    }
    .works_btn{
        width: 4em;
        height: 4em;
        display: flex;
        background-color: rgba(230, 221, 234, 0.555);
        border-color:transparent ;
        color: #151111;
        align-items: center;
        justify-content: center;
        font-size: 0.5em;
        border-radius: 10px;
    }


    .footer_content{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: max-content;
        padding: 1rem 2rem;
        gap: 1rem;
        margin: 0 auto;
        font-size: 0.5em;
    }
    .footer_tytle{
        display: flex;
        flex-direction: column;
        font-style: oblique;
        color: rgb(255, 255, 255);
        margin: 0 auto;
        width: 100% ;
    }
    .input{
        margin-top: 1rem;
        height: 1rem;
        width: 100%;
    }
}